<%-include('partials/header');-%>
  <h1>Compose</h1>
  <form class="" action="/compose" method="post">
    <input type="text" name="postTitle" value="" placeholder="Write :)">
    <button type="submit" name="button"> Publish Article</button>
  </form>

<%-include('partials/footer');-%>
