<%-include('partials/header');-%>
  <h1>Compose</h1>
  <input type="text" name="" value="" placeholder="Write :)">
  <button type="submit" name="button"> Publish Article</button>
<%-include('partials/footer');-%>
